@page "/"
@using CloudinaryDotNet
@using Luminous.Shared
@inject HttpClient Http
@inject Cloudinary Cloudinary

<PageTitle>Luminous - Products</PageTitle>

@if (_productDtos == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<section class="container mx-auto">
		<div class="row gx-xxl-5">
			<section class="container gx-0 col-2 d-flex mb-auto">
				<ul class="nav d-flex nav-pills nav-fill flex-column bg-light">
					<li class="nav-item border-bottom">
						<a class="nav-link active" data-bs-toggle="pill" aria-current="page" href="#">Link</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link" data-bs-toggle="pill" href="#">Крестики и подвески</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link" data-bs-toggle="pill" href="#">Link</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link" data-bs-toggle="pill" href="#">Link</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link" data-bs-toggle="pill" href="#">Link</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link" data-bs-toggle="pill" href="#">Link</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link" data-bs-toggle="pill" href="#">Link</a>
					</li>
					<li class="nav-item rounded-5">
						<a class="nav-link rounded-5" data-bs-toggle="pill" href="#">Link</a>
					</li>
				</ul>
			</section>

			<section class="container col-10">
				<div class="row row-cols-auto row-cols-xxl-4 gy-4 gx-4 justify-content-center">
					@foreach (var productDto in _productDtos)
					{
						<div class="col">
							<div class="card border-light" style="width: 220px;">
								<img src="@GetPhotoSource(productDto.PhotoSources.FirstOrDefault())" class="card-img-top" style="height:150px;" alt="...">
								<div class="card-body">
									<h5 class="card-title">@productDto.Title</h5>
									<p class="card-text">@productDto.Price @ProductDto.CurrencySymbol</p>
									<a href="#" class="btn btn-primary">Buy</a>
								</div>
							</div>
						</div>
					}
				</div>
			</section>
		</div>
	</section>
}

@code {
	private ProductDto[]? _productDtos;

	private const string _defaultPhotoSource = "v1650916030/nhfwenucn3iwvxsrzgqa.jpg";

	protected override async Task OnInitializedAsync()
	{
		_productDtos = await Http.GetFromJsonAsync<ProductDto[]>("Product");
	}

	private string GetPhotoSource(string? photoSource)
	{
		var a = Cloudinary.Api.UrlImgUp
			.Transform(new Transformation().Width(220).Height(150).Crop("scale"))
			.Signed(true)
			.Action("authenticated")
			.Secure()
			.BuildUrl(photoSource ?? _defaultPhotoSource);

		return a;
	}
}