@page "/"
@using Luminous.Shared
@inject HttpClient Http

<PageTitle>Luminous - Products</PageTitle>

<h1>Products</h1>

@if (_productDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productDto in _productDtos)
            {
                <tr>
                    <td>@productDto.Title</td>
                    <td>@productDto.Price @productDto.CurrencySymbol</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ProductDto[]? _productDtos;

    protected override async Task OnInitializedAsync()
    {
        _productDtos = await Http.GetFromJsonAsync<ProductDto[]>("Product");
    }
}