<nav class="navbar navbar-expand-sm navbar-light bg-light bg-opacity-75">
	<div class="container">
		<a class="navbar-brand" href="/">Luminous</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/Product">Add product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Abous us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contacts</a>
				</li>
			</ul>
		</div>
	</div>
</nav>